<div class="h-[100vh] flex items-center justify-center bg-gray-100 container-fluid background bg-blue">
  <div class="relative">
    <div class="border-shape login-position">
      <div class="absolute polygon-header text-white header z-10">
        <h1 class="text-lg lg:text-4xl md:text-4xl tracking-[3px] font-bold text-center p-3">LOGIN</h1>
      </div>
    </div>
    <div class="form-container mb-0 lg:mb-5">
      <img src="assets/image/Frame.svg" class="w-[50vw] back-form relative z-0">
      <form class="w-[85%] space-y-4 absolute z-10 left-1/2 transform -translate-x-1/2 flex flex-col form-container">
        <div class="mt-2 lg:mt-4">
          <label for="username" class="block text-xs md:text-sm font-medium text-white">USERNAME</label>
          <div class="group-input flex mt-2">
            <div class="right-input w-full border-b border-l border-r border-t border-[#189BFA] bg-[#001F35] flex items-center">
              <img class="ml-2 h-6 w-6" src="assets/image/user-icon.svg" alt="User Icon">
              <input
                id="username"
                type="text"
                [(ngModel)]="username"
                name="username"
                required
                placeholder="Type Here"
                class="ml-2 w-full px-3 py-2 shadow-sm placeholder-[#28A5C3] focus:bg-[#0A0F35] bg-[#001F35] focus:outline-none focus:text-white text-white text-xs md:text-sm md:text-base md:px-4"
                />
            </div>
          </div>
        </div>
        <div class="mt-6">
          <label for="password" class="block text-xs md:text-sm font-medium text-white">PASSWORD</label>
          <div class="group-input flex mt-2">
            <div class="left-input flex items-center border-b border-l border-t border-[#189BFA]">
              <img class="ml-2 h-6 w-6" src="assets/image/lock-icon.svg" alt="" srcset="">
            </div>
            <div class="right-input w-full border-b border-r border-t border-[#189BFA]">
              <input
                id="password"
                type="password"
                [(ngModel)]="password"
                name="password"
                required
                placeholder="Type Here"
                class="mt-1 block w-full input-color px-4 py-2 shadow-sm placeholder-[#28A5C3] focus:bg-[#000000] focus:ring-0 focus:outline-none focus:text-white text-white text-xs md:text-sm"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
      <div class="border-shape-login">
        <div class="absolute button-login polygon-bottom z-20">
          <button
            type="submit"
            (click)="login()"
            class="w-full text-lg lg:text-2xl md:text-2xl bg-custom text-white px-4 py-2 rounded-lg hover:bg-blue-600 font-bold focus:outline-none focus:ring focus:ring-blue-300"
          >
            LOGIN
          </button>
        </div>
      </div>
    </div>

</div>
