.bg-blue{
  background-color: #020C17;
}

.background {
  background-image: url('../../../assets/image/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.back-form {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

// .back-form {
//   height: 300px;
//   object-fit: cover;
//   object-position: bottom;
//   width: 100%;
// }

.bg-dark-blue {
  background-color: #00152C;
}

.header-color {
  background-color: #002349;
}

.input-color {
  background-color: #001F35;
}

.border-shape {
  position: relative;
  width: 65%;
  height: 60px;
  background-color: #007CFF;
  clip-path: polygon(51.1% 0%, 95.3% 0%, 100% 57.3%, 95.7% 100%, 3.5% 100%, 0% 57.3%, 4% 0.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.border-shape-login {
  position: relative;
  width: 45%;
  height: 42px;
  top: 45px;
  background-color: #007CFF;
  clip-path: polygon(51.1% 0%, 95.3% 0%, 100% 57.3%, 95.7% 100%, 3.5% 100%, 0% 57.3%, 4% 0.5%);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-position {
  top: 60px;
  z-index: 11;
}
.polygon-header {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: #002349;
  clip-path: polygon(51.1% 0%, 95.3% 0%, 100% 57.3%, 95.7% 100%, 3.5% 100%, 0% 57.3%, 4% 0.5%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.polygon-bottom {
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: #002349;
  clip-path: polygon(51.1% 0%, 95.3% 0%, 100% 57.3%, 95.7% 100%, 3.5% 100%, 0% 57.3%, 4% 0.5%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.polygon {
  clip-path: polygon(51.1% 0%, 95.3% 0%, 100% 57.3%, 95.7% 100%, 3.5% 100%, 0% 57.3%, 4% 0.5%);
}

.hex-header {
  left: 50%;
  top: -5px;
  transform: translate(-50%, -50%);
}

.form-container {
  top: 28%;
}

.bg-custom{
  background: linear-gradient(0deg, rgba(0,101,201,1) 0%, rgba(0,65,134,1) 15%, rgba(0,65,134,1) 85%, rgba(0,101,201,1) 100%);border-color:#0089ff;
}

@media (max-width: 1229px) {
  .back-form {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .form-container {
    top: 25%;
  }
}

@media (max-width: 540px) {
  .border-shape {
    width: 45%;
    height: 30px;
  }

  .login-position{
    top: 30px;
  }

  .form-container {
    top: 20%;
  }

  .border-shape-login {
    width: 30%;
    height: 30px;
  }
}

@media (max-width: 400px) {

}
